<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jovian Careers</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
        <h1>SCADA Technologies</h1>
        <img id="cover" src="/static/background.jpg" alt="cover_img">
    <div id="container">
        <h2>About SCADA Technologies</h2>
        <p class="bodytext">
            At SCADA Technologies, we are a dynamic and innovative company based in Noida, India, specializing in delivering cutting-edge solutions for our clients. With a dedicated team of over 200 talented professionals, we collaborate closely with clients to transform their visions into reality.

    Our approach revolves around teamwork and innovation. Each project we undertake is developed with precision and expertise, ensuring the highest quality and client satisfaction. Beyond delivering exceptional results, we emphasize continuous learning, fostering a culture where every team member grows and thrives.

    At SCADA Technologies, we don't just work on projects—we create solutions that make a difference. Join us on our journey of excellence and innovation!
        </p>
        <h2>Open Positions</h2>
        <p class="bodytext">
            will do later....
        </p>
        <div style="text-align: center;">
        <button>Contact Us</button>
        </div>
    </div>
</body>
</html>