<div class="container border-bottom" style="margin-bottom: 16px; padding-bottom: 10px;">
    <div class="row justify-content-between align-items-start">
        <div class="col-auto">
            <h4 style="color: rgb(120, 120, 120); margin-bottom: 2px;">{{job['title']}}</h4>
            <div><b>Location: </b>{{job['location']}}</div>  
            <!-- {{variable}} it is used for rendering/output the variables in the final HTML -->
            <!-- {%   %} is used for python like code in html templates -->
            {% if 'salary' in job %}
            <div><b>Salary: </b>{{job['salary']}} {{job['currency']}}</div>
            {% endif %}
            <!-- we dont want to render job at this line so we have not used {{job}} in the loop statement -->
            {% if 'experience' in job %}
            <div><b>Experience: </b>{{job['experience']}}</div>
            {% endif %}
        </div>
        <div class="col-auto">
            <a href="/jobs/{{job['id']}}"><button type="button" class="btn btn-outline-primary">Apply</button></a>
        </div>
    </div>
</div>
